body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    background-image: url("winselectah.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

header {
    background-color: linear-gradient(45deg, #FF8C00, #F4B8D7);
    padding: 20px;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    padding: 60px 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.events {
    padding: 20px;
    font-family: 'Lora', sin serif; /* Fuente Lora aplicada solo en la secci칩n events */
    font-size: 18px; /* Tama침o de fuente adecuado */
    line-height: 1.8; /* Mejora la legibilidad */
    background-color: linear-gradient(45deg, #FF8C00, #F4B8D7); /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
}

.soundcloud-player {
    padding: 20px;
    text-align: center;
    background-color:linear-gradient(45deg, #FF8C00, #F4B8D7);
    margin: 20px 0;
    border-radius: 8px;
}

.soundcloud-player iframe {
    border-radius: 8px;
    width: 100%;
    max-width: 800px; /* M치ximo ancho del reproductor */
    height: 166px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1a1a1a;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Acomoda las fotos en columnas responsivas */
    gap: 15px; /* Espacio entre las im치genes */
    padding: 20px;
}

.galeria-grid .foto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
